body {
  background: #eee;
  font-family: sans-serif;
  
  
}

.card {
  width: 460px;
  background: #fff;
  margin: 16px auto ;
  border: 10px solid white;
}

.title {
  background: #e3f4ff;
  padding: 5px;
  font-size: 20px;
  margin-top: 0px;
}

.content {
  background: #e3f4ff;
  margin-bottom: 10px;
  padding: 10px;
}

.button-container {
  background: #e3f4ff;
  text-align:center;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 5px;
}

button {
  background: white;
  border: 1px solid #eee;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  width: 110px;
}